{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <h1>Login</h1>
    {% if messages %}
        {{ messages.object }}
        {% for message in messages %}
            <!-- {% if message.tags %} class="{{ message.tags }}"{% endif %} -->
            <div class="custom_alert fadeIn alert {% if message.tags %} {{ message.tags }} {% else %} alert-secondary {% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>