{% extends 'template/base.html' %}
{% block 'title' %}My Product | {% endblock 'title' %}
{% load static %}
{% block body %}
<div class="main">
    <div class="about_banner_img"><img src="{% static 'assets/images/create_product.svg' %}" class="img-responsive page_banner" alt=""></div>
        <div class="about_banner_wrap">
            <h1 class="m_11">My Products</h1>
        </div>    
        <div class="container">        
            <div class="row single-top">
                {% if data %}
                    {% for pr in data %}
                        <div class="blog_box col-md-6">
                            <div class="blog_grid">
                                <h3><a href="product/edit/{{ pr.slug }}">{{ pr.title }}</a></h3>
                                <i class="document"></i>
                                <a href="prodcut/edit/{{ pr.slug }}"><img src="media/{{ pr.pi_pic }}" class="img-responsive" alt="" style='width:555px; min-height: 370px; max-height: 370px'></a>
                                <div class="singe_desc">
                                    <p>{{ pr.description }}</p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>                     
                    {% endfor %}     
                {% endif %}                
            </div>
        </div>
    </div>
</div>
                
{% endblock body %}